<div id="adminFormWrapper">
    <form action="/become-admin" method="post">
        <h2>Become An Admin</h2>
        <div class="input-bx">
            <label for="secretAdminAnswer">what is the name of the developer?</label>
            <input required type="text" id="secretAdminAnswer" name="secretAdminAnswer" placeholder="Odin">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>