<div id="modalBox" class="modalBox hidden">
    <div id="deleteModal" class="deleteModal">
        <p>Are you sure you want to delete this post?</p>
        <form method="post" id="deleteForm">
            <button id="deleteBtn" type="submit">Delete</button>
            <button type="button" id="cancelBtn">Cancel</button>
        </form>
    </div> 
</div>