<div id="hideModalBox" class="hideModalBox hidden">
    <div id="hideModal" class="hideModal">
        <p>Are you sure you want to hide this post?</p>
        <form method="post" id="hidePostForm">
            <button id="hideBtn" type="submit">Hide</button>
            <button type="button" id="cancelHideBtn">Cancel</button>
        </form>
    </div> 
</div>